config target="sample" version=1 {
  model {
    family "pixart_sigma"
    variant "pixart_sigma_tiny"
    checkpoint "checkpoints/pixart_sigma_tiny.pt"
  }

  vae {
    pretrained "stabilityai/sd-vae-ft-mse"
    scaling_factor 0.18215
    downsample_factor 8
    latent_channels 4
  }
  sampler {
    name "flow_euler"
  }
  sampling {
    task "txt2img"
    steps 2
    n 1
  }
  output {
    dir "outputs/pixart_sigma_tiny"
  }
}
