config target="webui" version=2 {
  model {
    use "mmdit_576"
    checkpoint "runs/mmdit_base/2026-05-04_164714_001/ckpt_0038000.pt"
  }

  sampler {
    use "rf_euler"
  }

  webui {
    use "local"
    host "127.0.0.1"
    port 7860
    auto_open true
  }
}
